@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
body {
  font: 20pt "Noto Sans";
}
body table {
  width: 100%;
  text-align: center;
}
body table#characters tr th {
  text-decoration: underline;
}
body table#characters tr.character[sex^=M] {
  color: blue;
  background-color: #ddf;
}
body table#characters tr.character[sex^=F] {
  color: red;
  background-color: #fdd;
}
body table#characters tr.character td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body table#characters tr.character td#name .name {
  font-weight: bold;
}
body table#characters tr.character td#name .pro {
  font-family: "Fira Code";
}
body table#characters tr.character td#name .pro::before {
  content: "<";
}
body table#characters tr.character td#name .pro::after {
  content: ">";
}
body table#characters tr.character td#extra {
  text-align: justify;
}
