doctype html
html
	head
		meta(charset="UTF-8")
		title Characters
		link(
			rel="stylesheet"
			href="style.css"
		)
	body
		div#elm
		script(src="elm.js")
		script Elm.Main.init({node:document.getElementById("elm")});