@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
body {
	font: 20pt "Noto Sans", sans-serif;
	table {
		width: 100%;
		text-align: center;
		&#characters {
			tr {
				th {
					text-decoration: underline;
				}
				&.character {
					&[sex^="M"] {
						color: blue;
						background-color: #ddf;
					}
					&[sex^="F"] {
						color: red;
						background-color: #fdd;
					}
					td#name {
						.name {
							font-weight: bold;
							text-decoration: underline;
						}
						.pro {
							font-style: italic;
							text-decoration: overline;
						}
					}
				}
			}
		}
	}
}
