$fonts: "Noto+Sans:ital,wght@0,100..900;1,100..900"
	"Noto+Sans+Mono:wght@100..900" "Fira+Code:wght@300..700";
@each$font in$fonts {
	@import url("https://fonts.googleapis.com/css2?family=#{$font}&display=swap");
}
@mixin padding($h: null, $v: null, $t: null, $b: null, $l: null, $r: null) {
	@if $h != false {
		@if $l != false {
			padding-left: $l or$h or 0;
		}
		@if $r != false {
			padding-right: $r or$h or 0;
		}
	}
	@if $v != false {
		@if $t != false {
			padding-top: $t or$v or 0;
		}
		@if $b != false {
			padding-bottom: $b or$v or 0;
		}
	}
}
body {
	font: 20pt "Noto Sans";
	table {
		width: 100%;
		text-align: center;
		&#characters {
			tr {
				th {
					text-decoration: underline;
				}
				&.character {
					&[sex^="M"] {
						color: blue;
						background-color: #ddf;
					}
					&[sex^="F"] {
						color: red;
						background-color: #fdd;
					}
					td {
						@include padding($h: calc(1em / 2), $v: false);
						&#name {
							.name {
								font-weight: bold;
							}
							.pro {
								font-family: "Fira Code";
								&::before {
									content: "<";
								}
								&::after {
									content: ">";
								}
							}
						}
						&#extra {
							text-align: justify;
						}
					}
				}
			}
		}
	}
}
